{{#if session.user}}
<h1>Bienvenido {{session.user}}</h1>
{{/if}}

<div id="list-products">

</div>

<div id="list-page">

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>