<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <ul>
        <li> <a href="/">Home</a></li>
        <li> <a href="/login">Login</a></li>
        <li> <a href="/registro">Registro</a></li>
        <li> <a href="/perfil">Perfil</a></li>
                <li> <a href="/products">Productos</a></li>
                <li> <a href="/forgot">Recuperar password</a></li>
      </ul>

    </div>
    {{{body}}}
  </body>
</html>